#container {
  background-color: $color-bisque;
}

.btn.green {
  @include base-secondary-button(true);
}

.btn.blue {
  @include base-tertiary-button(true);
  text-transform: capitalize;
}

.headerContent {
  @include prefix(transform, rotate(0deg), webkit moz ms o);
  height: 66px;
  padding: 20px;
  line-height: $font-lineheight;
  /* fallback */
  background-color: $tertiary-color;
  background: url('#{$assets}images/linear-gradient-bg.png');
  background: linear-gradient(to right, $tertiary-color, $color-ship-cove);
  background-repeat: repeat-y;

  h1 {
    color: $color-white;
    font-size: 24px;
  }
}


.top-intro {
  margin: 0;
  background-color: $color-white;
  padding: 20px;
  max-height: 150px;

  h2 {
    color: $primary-color;
  }
}


.mobileOverview .item {
  border: 0;
}

.researchOverview {

  .thumbnail {
    padding-left: 0 !important;
  }

  .padding {
    padding: 0 20px;
  }

  .post_content, li {
    padding: 0;
  }

  li.post.item {
    background-color: $color-white;
    margin-bottom: 20px;
  }

  h3 {
    &, a {
      word-break: break-all;
      font-size: $font-size-large;
      color: $tertiary-color;
    }
  }

  .thumbnail {
    padding-left: 10px;

    &.no_image {
      height: 400px;
      background-color: $color-white;
      background-image: url('#{$assets}images/placeholder.jpg');
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  .post_introduction {
    display: block;
    color: $tertiary-color;
    font-size: $font-size-medium;
  }

  .post_medatada {
    margin-bottom: 15px;
    color: $color-silver;

    a {
      color: $link-font-color;
    }
  }

  .btn {
    display: inline-block;
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .post_footer {
    background: $color-white;
    height: 50px;
    border-top: 1px solid $color-athens;

    ul {
      padding: 10px 20px;
    }

    li {
      display: inline-block;
      border: 0;
      color: $color-silver;
      margin-left: 0;
      margin-right: 10px;
      padding-left: 0;
    }

    .participants {
      color: $color-silver;
    }

    .participants:before,
    .comments:before  {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      position: relative;
      top: 6px;
      margin-right: 5px;
    }

    .participants:before {
      @include base-sprite(-47px, -534px);
    }

    .comments:before {
      @include base-sprite(-47px, -579px);
    }
  }
}


#pageContent {

  //Research filters
  .sort {
    font-size: $font-size-medium;

    ul {
      border: 0;

      li {
        border-right-color: $color-athens;
      }

      .link {
        font-weight: bold;
        text-transform: capitalize;
        display: block;
        height: 50px;
        color: $color-silver;
        padding: 15px 0;
        text-align: center;
      }

      .active {
        color: $color-white;
        background-color: $secondary-color;
      }
    }
  }
}

//Highlighted research
.featured-research {
  position: relative;
  margin: 15px;

  h2 {
    &, a {
      color: $color-white;
      font-size: $font-size-large;
      margin-bottom: 10px;
    }
  }

  .featured-image,
  .figure {
    width: 100%;
    height: 158px;

    img {
      width: 100%;
      height: auto;
    }

    .no_image {
      height: 158px;
      background-image: url('#{$assets}images/placeholder.jpg');
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  .featured-content {
    margin-bottom: 15px;
    word-wrap: break-word;
  }

  .featured-description {
    padding: 20px;
    color: $color-white;
    background: rgba($tertiary-color,0.9);
  }

  .post_medatada {
    margin-bottom: 10px
  }

  .BTN {
    display: inline-block;
    @include base-secondary-button(true);
    text-transform: capitalize !important;
  }
}

.featured-research-meta {
  margin-top: 20px;

  .participants,
  .comments {
    padding-bottom: 5px;
    display: block;
    position: relative;
  }

  .participants:before,
  .comments:before  {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    margin-right: 5px;
  }

  .participants:before {
    @include base-sprite(-19px, -534px);
  }

  .comments:before {
    @include base-sprite(-19px, -579px);
  }
}

.button.participate .BTN.CTA.blue,
.button.results .BTN.CTA.blue {
  text-transform: none;
}
