.button .BTN.blue,
.BTN.blue {
  @include base-tertiary-button;
  text-transform: capitalize;
}

.CTA {
  border-radius: 0;
}

h2 a {
  color: $color-pearl;

  &:hover {
    color: $color-persian;
  }
}

.research .top-intro {
  background-color: $color-white;
  width: 700px;
  padding: 20px;
  margin-bottom: 20px;

  h2 {
    font-size: $font-size-large;
    color: $color-beetroot;
    margin-bottom: 10px;
  }
}


.research .content-left {
  width: 700px;
  float: left;

  .research-posts {
    width: 700px;
    float: left;
    margin-top: 20px;

    .post {
      width: 340px;
      height: 500px;
      margin: 0 0 20px 0;
      border-radius: 0;
      border: 0;
      box-shadow: none;

      &:nth-child(2n+1) {
        margin-right: 20px;
      }

      .post_content .post_medatada {
        font-size: $font-size-medium;
        color: $color-silver;

        .post_author {
          color: $primary-color;
          cursor: pointer;
        }
      }

      header .thumbnail {
        height: 178px;
        width: 340px;
        border-radius: 0;

        img {
          width: 100%;
          height: 100%;
        }

        &.no_image {
          background-image: url('#{$assets}images/placeholder.jpg');
          background-repeat: no-repeat;
          background-position: 50%;
          background-size: cover;
        }
      }
    }

    .post_content .post_footer {

      ul li {
        color: $color-silver;
        font-size: $font-size-medium;

        span {
          display: inline-block;
          font-weight: normal;
          margin-right: 2px;
        }

        &.participants,
        &.comments,
        &.button {
          border-width: 1px 0 0 0;
          border-top-color: $color-athens;
          background: none;

          .content {
            left: 20px;
          }
        }

        .participants:before,
        .comments:before  {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          position: relative;
          top: 6px;
          margin-right: 5px;
        }

        .participants:before {
          @include base-sprite(-47px, -534px);
        }

        .comments:before {
          @include base-sprite(-47px, -579px);
        }
      }
    }
  }

  .button {
    margin: 0 0 20px 20px;
  }
}


//Highlighted research
.featured-research {
  position: relative;
  width: 700px;

  h2 {
    &, a {
      color: $color-white;
      font-size: $font-size-large;
      margin-bottom: 10px;
    }
  }

  .featured-image,
  .figure {
    width: 700px;
    height: 366px;

    img {
      width: 100%;
      height: 100%;
    }

    .no_image {
      background-image: url('#{$assets}images/placeholder.jpg');
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  .featured-content {
    margin-bottom: 10px;
  }

  .featured-description {
    padding: 20px;
    color: $color-white;
    width: 240px;
    height: 366px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($tertiary-color,0.9);
  }

  .post_medatada {
    margin-bottom: 10px
  }

  .BTN {
    display: inline-block;
    @include base-secondary-button(true);
  }
}

.featured-research-meta {
  position: absolute;
  bottom: 30px;

  .participants,
  .comments {
    display: block;
    position: relative;
  }

  .participants:before,
  .comments:before  {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    margin-right: 5px;
  }

  .participants:before {
    @include base-sprite(-19px, -534px);
  }

  .comments:before {
    @include base-sprite(-19px, -579px);
  }
}


//Research filter
.research-filter {
  background-color: $color-white;
  padding: 20px;
  margin-top: 20px;

  .category-list {
    border-bottom: 1px solid $color-athens;

    li {
      display: inline;

      .BTN {
        font-weight: bold;
        color: $color-silver;
        display: inline;
        border: none;
        border-radius: 0;
        padding: 3px 10px;
        background-color: $color-white;
        font-size: $font-size-medium;

        &:hover {
          background: $color-white;
          text-decoration: none;
          box-shadow: none;
          color: $color-pearl;
        }
      }

      .is-active {
        border-bottom: 2px solid $color-persian;
        color: $color-pearl;
      }
    }
  }
}

//Pagination
.pagination {
  background: transparent;
  border: 0;
}
