// Main layout definitions, widths etc.
*,*:after, *:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: $color-bisque;
}

body {
  min-width: $site-width;
}

.wrapper {
  width: $site-width;
  margin: 0 auto;
  height: auto;
}

.contentLeft {
  width: $left-width + $gap-width;
  padding-right: $gap-width;
  background: transparent;
}

.sidebar {
  width: $right-width;
  background: transparent;
}

.container {
  @include container;
  background-color: $color-white;
  margin-bottom: 20px;
}

#main-content > .wrapper {
  margin-top: 20px;
}

.titleHeader {
  padding: 20px 20px;
  line-height: 16px;
}

.container.forumHead {
  margin-bottom: 0
}

.bb-spoiler-container .bb-spoiler-head-hide,
.bb-spoiler-container .bb-spoiler-head-show {
    color: $color-carnation;
}

.profileSecundary {
    max-width: 100%;
    overflow: hidden;
}

.videoWrapper {
    display: inline-block;
}

.legend ul {
    font-size: $font-size-small-plus;
}
