.display h1 {
  font-size: $font-size-large;
  padding: 20px;
}

.termsBox {
  padding: 20px;

  h2, h3 {
    margin-bottom: 10px;
  }

  ul li {
    list-style: circle;

     li {
       list-style: disc;
     }
  }
}
