.editorTitle {
  margin-top: 20px;
  padding: 20px;
  background-color: $color-white;
}

.blog-post .leftColumn .comments .post-comments-content {

  .editorAvatar {
    width: 50px;
    margin-top: 0;
    left: 20px;
  }

  .editorWrapper {
    background-color: $color-white;
    margin-top: 0;
    padding-left: 84px;
  }

  .editor {
    width: 600px;

    .CTA {
      margin-top: 10px;
    }
  }
}



.textEditorContainer .editorHolder {

  .editor .editorContent {
    border-color: $border-thin-color;
    border-bottom: 1px solid $border-thin-color;
  }

  .editorAdds {
    border: none;
    background: $color-white;
    width: 50%;
    float: left;
    margin-top: 5px;

    .addLeft .BTN-GROUP,
    .BTN-GROUP {
      margin-left: 0;
    }
  }
}

.editorBTN {
  margin-right: 2px;

   &,  div {
    background: none;
    color: $tertiary-color;
    line-height: 32px;
    text-shadow: none;
    background: $color-timberwolf;
    border: 0;
    border-radius: $border-radius;
    height: 35px;
    min-width: 50px;
    max-width: none;
    width: auto;
    position: relative;
  }
}

.BTN-GROUP .editorBTN.first {
  border-radius: $border-radius;
}

.addImage,
.addVideo,
.addSmiley {
  min-width: 50px;
  max-width: none;
  width: auto;
  background: none;
  text-indent: 0;
  height: 35px;
  line-height: 32px;
  text-align: center;
  text-shadow: none;

  span {
    position: relative;
    right: -2px;
    top: 2px;
  }

  &:after {
    @include insided-icon;
    position: absolute;
    top: 8px;
    left: 15px;
    display: inline;
    color: $tertiary-color;
    line-height: 1;
    font-size: $font-size-large;
    vertical-align: middle;
  }

  &:hover,
  &:active {
    background: $primary-color;
  }
  &:hover:after {
    color: $color-white;
  }
}


.addImage:after {
  content: $insided-icon-05;
}

.addVideo:after {
  content: $insided-icon-06;
}

.addSmiley:after {
  content: $insided-icon-07;
}
