html,
body {
  @include base-font-size($font-size-default);
  color: $tertiary-color;
  font-family: $font-family;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.menu_open {
    overflow-y: hidden;
}

p {
  line-height: $font-lineheight;
  font-size: $font-size-default;
  color: $tertiary-color;
}

a,
.link {
  color: $link-font-color;
  text-decoration: none;
}

.btn.blue {
  @include base-secondary-button;
}


h1,
h2,
h3 {
  font-family: $font-family-bold;
  text-transform: uppercase;
  font-weight: normal;

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }
}

.paddingBox {
  margin: 10px 20px;
}
