#mainMenu {
  background-color: $color-bisque;

  .menu_open & {
      position: fixed;
      height: calc( 100% - 44px );
      -webkit-overflow-scrolling: touch !important;
  }

  .my-profile {
    padding: 5px 0 20px 0;
    margin: 0 20px;
    background-color: $color-bisque;
    border-bottom: 1px solid $color-white;

    .avatar {
      border: none;
      width: 30px;
      height: 30px;
      padding: 0;
      max-width: 30px;
      margin-right: 20px;
    }

    span {
      font-family: $font-family-bold;
      font-weight: normal;
      line-height: 25px;
      color: $tertiary-color;
      text-transform: uppercase;
      font-size: $font-size-large;
    }
  }

  .loginBox {
    padding: 0 20px;
    border-bottom: 0;
    background-color: $color-bisque;

    h3 {
      font-size: $font-size-large;
      color: $tertiary-color;
    }
  }

  .mainMenu {

    li {
      border-bottom: 0;
      box-shadow: none;
      line-height: 54px;
      height: auto;

      .link {
        color: $tertiary-color;
        font-weight: bold;
        display: block;
        height: 100%;
        width: 100%;

        &:active,
        &:focus {
          background-color: $color-bisque;
          color: $tertiary-color;
        }
      }

      .login.link {
        color: $secondary-color;
        border: none;
        background-color: $color-bisque;
        text-shadow: none;
        background-image: none;
        text-align: left;
      }
    }
  }

  .logOut {
      color: $secondary-color;
      font-style: normal;
      font-size: $font-size-default;
      font-weight: bold;
  }
}


//Submenu
.mainMenu .forumOverview {
  position: relative;

  .icon.arrow {
    width: 17px;
    height: 10px;
    position: absolute;
    right: 20px;
    top: 24px;
    left: auto;

    &.down {
      background: url('#{$assets}images/mobile/chevron-down@2x.png') no-repeat;
      background-size: 15px;
    }

    &.up {
      background: url('#{$assets}images/mobile/chevron-down@2x.png') no-repeat;
      background-size: 15px;
      transform: rotate(180deg);
    }
  }

  .subMenu {
    display: none;
  }
}



//Submenu
.forumOverview {
  position: relative;

  .icon.arrow {
    width: 17px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 29px;
    left: auto;
    background-color: transparent;
  }

  .subMenu {
    display: none;
  }
}
